/* Main css file */

body, html {
    margin: 0;
    padding-top: 50px;
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
}

img,
embed,
object,
video {
    max-width: 100%;
    align-content: center;
}

nav, a, button {
    min-width: 48px;
    min-height: 48px;
}

#logo-border {
    border-bottom: 3px solid #bcbbbb;
}

#portfolio {
    color: #bcbbbb;
}

.row {
   padding-top: 20px;
   padding-bottom: 20px;
}

a {
    text-decoration: none !important;
}

figcaption h3 {
    color: #747704;
}

img {
    transition: width 0.5s;
}

#logo img {
    max-width: 30%;
}

/* Small Devices, Tablets */
@media screen and (min-width : 768px) {
    .col-sm-10 {
        text-align: right;
    }
    #logo img {
        max-width: 100%;
    }
}

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .container {
        max-width: 992px;
    }
    #portfolio h3 {
        text-align: left;
    }
}
